---
title: Research activities hub - Activity page
model:
  nav: ../../components/main-navigation/json/mega-navigation-digital-nsw.json
  footer: ../../components/footer/json/footer.json
---

{{>_header content="#content" nav="#main-navigation"}}
{{>_main-navigation model.nav}}

<div class="nsw-container nsw-p-bottom-xs">
  <nav aria-label="Breadcrumb" class="nsw-breadcrumb">
    <ol class="nsw-breadcrumb__list">
        <li class="nsw-breadcrumb__item">
          <a href="#" class="nsw-breadcrumb__link" >Home</a>
        </li>
        <li class="nsw-breadcrumb__item">
          <a class="nsw-breadcrumb__link nsw-breadcrumb--current" aria-current="page">Turning findings into insights you can action</a>
        </li>
    </ol>
  </nav>
</div>

<main id="content">
  <section class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <h1>Turning findings into insights you can action</h1>
          <p class="nsw-intro">Using this activity, take your research findings and use them to help you create insights that inspire action in your team and motivate decision makers. </p>
        </div>
        <div class="nsw-page-layout__sidebar"></div>
      </div>
    </div>
  </section>

  <section class="nsw-section--light-10">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-lg-6">
              <h2>Activity snapshot</h2>
              <ul class="nsw-rah-icon-list">
                <li>
                  <i class="material-icons nsw-material-icons nsw-material-icons--dark" focusable="false" aria-hidden="true">schedule</i>
                  <span>1 Day</span>
                </li>
                <li>
                  <i class="material-icons nsw-material-icons nsw-material-icons--dark" focusable="false" aria-hidden="true">groups</i>
                  <span>2+ team members</span>
                </li>
                <li>
                  <i class="material-icons nsw-material-icons nsw-material-icons--dark" focusable="false" aria-hidden="true">wysiwyg</i>
                  <span>Miro</span>
                </li>
              </ul>
              <hr class="nsw-section-separator" />
              <ul class="nsw-rah-text-list">
                <li>
                  <strong>For</strong>
                  <span>turning findings into actionable insights</span>
                </li>
                <li>
                  <strong>With</strong>
                  <span>your team</span>
                </li>
                <li>
                  <strong>When</strong>
                  <span>you have research findings</span>
                </li>
              </ul>
              <p><a target="_blank" href="https://miro.com/app/board/o9J_lMTXn_o=/" class="nsw-button nsw-button--primary">Launch activity template</a></p>
            </div>
            <div class="nsw-col nsw-col-lg-6">
              <p><img class="nsw-image" src="../../assets/images/rah-activity.png" alt=""></p>
              <ul class="nsw-rah-icon-list">
                <li>
                  <i class="material-icons nsw-material-icons nsw-material-icons--success" focusable="false" aria-hidden="true">done</i>
                  <span>Instructions</span>
                </li>
                <li>
                  <i class="material-icons nsw-material-icons nsw-material-icons--success" focusable="false" aria-hidden="true">done</i>
                  <span>Examples</span>
                </li>
                <li>
                  <i class="material-icons nsw-material-icons nsw-material-icons--success" focusable="false" aria-hidden="true">done</i>
                  <span>Pro Tips</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <h2>Activity Guide</h2>
          <h3>Overview</h3>
          <p>Knowing what action to take after your user research activities can be difficult.  This activity will help your team go from research findings to creating insights that help your team and stakeholders decide on next steps for your product or service.   </p>
        </div>
        <div class="nsw-page-layout__sidebar"></div>
      </div>
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-lg-4">
              <h3>What it’s for</h3>
              <p>To help your team and stakeholders develop a deep understanding of the problem or situation so you can make evidence-based decisions about what to do next.</p>
            </div>

            <div class="nsw-col nsw-col-lg-4">
              <h3>What you’ll get</h3>
              <p>A list of prioritised insights to share and action with your stakeholders and team.  </p>
            </div>

            <div class="nsw-col nsw-col-lg-4">
              <h3>When to do it</h3>
              <p>After your team has created findings from your research. </p>
            </div>
          </div>
        </div>
      </div>

      <hr class="nsw-section-separator" />

      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <h2>How it works</h2>
          <p>To start this activity:</p>
          <p class="nsw-icon-text">
            <i class="material-icons nsw-material-icons nsw-material-icons--dark" focusable="false" aria-hidden="true">done</i>
            Complete your user research actives 
          </p>
          <p class="nsw-icon-text">
            <i class="material-icons nsw-material-icons nsw-material-icons--dark" focusable="false" aria-hidden="true">done</i>
            Compile notes from your research
          </p>
          <p class="nsw-icon-text">
            <i class="material-icons nsw-material-icons nsw-material-icons--dark" focusable="false" aria-hidden="true">done</i>
            Understand what's motivating the decision-makers in your project
          </p>

          <h3>Steps</h3>
          <p>
            <strong>1. Re-align team on project boundaries </strong><br>
            Use the alignment canvas to make sure everyone knows what your project and your decision-makers are trying to achieve.   
          </p>
          <p>
            <strong>2. Group your research findings </strong><br>
            Make sense of what’s really going on by grouping your findings on the synthesis panel.
          </p>
          <p>
            <strong>3. Generate insights  </strong><br>
            Combine what you learned from users with what you know about the problem space to generate new insights. 
          </p>
          <p>
            <strong>4. Prioritize insights  </strong><br>
            Use a prioritization matrix to identify which insights are most meaningful to your users and organisation.  
          </p>
          <p>
            <strong>5. Finalise insights to be actioned </strong><br>
            Bring together your insights, motivating factors and supporting evidence from your findings in the Actionable insights template.  
          </p>

          <h3>What’s next</h3>
          <ul>
            <li>Walk your team or stakeholders through the activity board to show them the process  </li>
            <li>Share the actionable insights with your team and stakeholders in the <a target="_blank" href="https://nswgov.sharepoint.com/:p:/s/NSWDesignSystem/EYXyHnOACL9LgSX2sGX3zYoBdOSWurNXHKfRokXWeA7Hxw?e=3VkZZu">Insights Presentation Template</a> </li>
            <li>Run an ideation workshop to brainstorm solutions </li>
          </ul>
        </div>
        <div class="nsw-page-layout__sidebar">
          <div class="nsw-section--bg">
            <h2>Resources</h2>
            <ul>
              <li><a target="_blank" href="https://miro.com/app/board/o9J_lMTXn_o=/">Activity Template</a> (Miro)</li>
              <li><a target="_blank" href="https://nswgov.sharepoint.com/:p:/s/NSWDesignSystem/EYXyHnOACL9LgSX2sGX3zYoBdOSWurNXHKfRokXWeA7Hxw?e=3VkZZu">Insights Presentation Template</a> (Powerpoint)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nsw-section--light-10">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <h2>Have Questions? </h2>
          <p>Connect with other NSW government digital people, ask questions, get support, or provide feedback on <a href="https://community.digital.nsw.gov.au/" target="_blank">Digital NSW Community</a> .</p>
        </div>
        <div class="nsw-page-layout__sidebar"></div>
      </div>
    </div>
  </section>
</main>

{{>_footer model.footer}}
